# ignore tex related temporary files
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# ignore python related temporary files
*/__pycache__/*
*.pyc

# ignore all test files
**/test*.py

# ignore compiled libraries
*.o
*.so

# ignore output directories
data/*
imgs/*
bin/*
build/*